table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#mainrow {
    background: black;
    color: white;
}

th {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}