<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <main>
        <div class='gallery'>
        
            <div class='upperPart'>

                <div class='arrowLeft'>
                    <div class='arrowLeftImg'>
                    </div>
                </div>
                <div class='currentPic'>
                
                    <div class='info'>
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class='arrowRight'>
                    <div class='arrowRightImg'>
                    </div>
                </div>
            </div>
                <div class='pictures'>
                    <div class='pic'></div>
                    <div class='pic'></div>
                    <div class='pic'></div>
                    <div class='pic'></div>
                    <div class='pic'></div>
                    <div class='pic'></div>
                </div>
        </div>
    </main>
    <script src="../assets/js/app.js"></script>
</body>
</html>