h1 {
    text-align:left;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
}
h2 {
    text-align:left;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.box{
    margin: 0%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    border: 0%;
    width: auto;
    height: 30px;
    background-color: #333333;   
}
.box2{
    margin: auto;
    padding-top: 0%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-left: 10%;
    border: auto;
    width: auto;
    height: 30px;
    background-color: white;   
}